.mb-sm {
  margin-bottom: 1rem;
}
.mb-md {
  margin-bottom: 2rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mt-sm {
  margin-top: 1rem;
}
.mt-md {
  margin-top: 2rem;
}
.mt-lg {
  margin-top: 4rem;
}

.mr-auto {
  margin-right: auto;
}

.hidden {
  display: none;
  visibility: hidden;
}

.active {
  color: $color-primary;
}
